---
// src/layouts/Footer.astro
/**
 * Footer Component
 *
 * Site-wide footer with:
 * - Copyright notice
 * - Social media links
 * - Legal links (Privacy Policy, Cookie Policy)
 * - Cookie preferences button (client-side)
 * - Reading preferences button (client-side)
 */
import { siteData, ctaData } from "@/content/siteData";
import ContentRenderer from "@/components/ContentRenderer/ContentRenderer.astro";
import { query } from "@/utils/query";
import PreferencesLayout from "./PreferencesLayout.astro";
import { roots, related } from "@/utils/query/snippets";
import Logo from "@/components/Logo/Logo.astro";
import Button from "@/components/Button/Button";
---

<footer class="mt-auto relative">
  <div class="mx-auto w-full relative">
    <div class="section-dim-border"></div>

    <div class="relative lg:py-8">
      <section
        class="inner-section grid gap-10 py-12 text-left sm:text-left grid-cols-1 md:grid-cols-2 xl:grid-cols-4 items-start"
      >
        <div class="flex flex-col items-start gap-4 text-sm max-w-lg">
          <Logo
            loading="lazy"
            trigger="visible"
            animateOutText={false}
            loop={false}
            class="gap-2"
            logoMediaClass="block w-[64px] h-[64px] lg:w-[70px] lg:h-[70px] object-contain"
            logoWidths={[70, 120, 150]}
            logoSizes="(min-width: 1024px) 68px, 60px"
            titleFirstClass="text-4xl lg:text-5xl -ml-[0.1rem] leading-tight font-bold no-translate"
            titleRestClass="font-light emphasized-text uppercase text-sm md:text-base lg:text-lg p-0 m-0 tracking-[0.25em]"
          />
          <p class="text-lg md:text-xl text-text">
            {
              siteData?.tagline ??
                "Ready to give your business the fast, secure website it deserves?"
            }
          </p>
        </div>
        {/* Column 2: Legal links & preferences */}
        <div class="flex flex-col items-start gap-8 text-sm">
          <!-- <ContentRenderer
            query={related("menu-items", "menu", "footer-menu-2")}
            variant="ListVariant"
            title="Links"
            className="text-bg flex flex-col items-start justify-center"
            showHeadingDivider
          /> -->
          <ContentRenderer
            query={related("menu-items", "menu", "footer-menu")}
            variant="ListVariant"
            title="Legal Links"
            className="text-bg flex flex-col items-start justify-center"
            showHeadingDivider
          />
        </div>

        {/* Column 1: Legal links & preferences */}
        <ContentRenderer
          query={roots("capabilities")}
          variant="ListVariant"
          showButtonSection={false}
          showHeadingDivider
        />

        {/* Column 2: Legal links & preferences */}
        <ContentRenderer
          query={roots("solutions")}
          variant="ListVariant"
          showButtonSection={false}
          showHeadingDivider
        />
      </section>
      <!-- <div class="section-color-border absolute bottom-0 top-auto"></div> -->
    </div>

    <div class="relative">
      <div class="section-dim-border"></div>
      <section
        class="inner-section flex flex-col gap-4 text-text text-sm py-6 sm:flex-row sm:items-center sm:justify-between"
      >
        <p class="text-center sm:text-right">
          &copy; {new Date().getFullYear()}
          {siteData.legalName}. All rights reserved.
        </p>
        <PreferencesLayout
          showHeading={false}
          layout="horizontal"
          class="w-full sm:w-auto"
        />
      </section>
    </div>
  </div>
</footer>
